<launch>
    <!-- Start the service node -->
    <node name="service_node" pkg="assignment2_part1" type="target_service_node.py" output="screen" />

    <!-- Start the action client node -->
    <node name="action_client_node" pkg="assignment2_part1" type="action_client_node.py" output="screen" />
    
</launch>
